@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 75px;
    background: #222222;
    padding: 18px 16px;
    box-sizing: border-box;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_link_left {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.top:hover .dark_background {
    display: block;
}

.link_item,
.search,
.menu {
    margin-left: 33px;
}

.top {
    position: relative;
}

.top_info {
    height: 760px;
    display: flex;
}

.dark_background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.menu_hover {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    height: inherit;
    margin-left: auto;
    padding-left: 34px;
}

.header_menu {
    padding-top: 34px;
}

.menu_lists li {
    padding-top: 11px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.menu_lists {
    padding-top: 20px;
    list-style-type: none;
    padding-left: 20px;
}

.name_menu_hover {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
    color: #F26376;
}

.menu_lists li {
    padding-top: 11px;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;

}

.name_menu_hover {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
}

.model_img {
    height: inherit;
    width: 50%;
}

.model_img img {
    width: 100%;
    display: block;
    height: inherit;
    object-fit: cover;
}

.top_heading {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.heading {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    text-transform: uppercase;
    color: #222222;
    white-space: nowrap;

}

.top_heading div:first-child {
    font-size: 48px;
    font-weight: 900;
    line-height: 35px;
    padding-top: 10px;
}

.top_heading div:last-child {
    font-size: 31px;
    font-weight: 700;
    line-height: 28px;

}

.top_heading span {
    font-weight: 700;
    font-size: 31px;
    line-height: 28px;
    color: #F16D7F;
}

.card {
    position: relative;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.margin_card {
    margin-right: 30px;
}

.catalog {
    box-sizing: border-box;
    padding: 65px 0;
}

.catalog_card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card_text {
    position: absolute;
    top: 40%;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.card_text span {
    font-size: 24px;
    line-height: 28px;
    color: #F26376;
}

.fetured {
    text-align: center;

}

.fetured h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 8px;
}

.fetured p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.card_items {
    display: flex;
    flex-direction: column;
}

.card_items:hover .card_image_dark {
    display: flex;
}

.card_wrap {
    position: relative;
}

.header_image {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 25px;

}

.text_image {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
}

.card_items span {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.card_items_title {
    background: #F8F8F8;
    padding-left: 16px;
    padding-bottom: 20px;
}

.card_image {
    width: 100%;
    height: 100%;
}

.card_image_dark {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.button_image_dark {
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 10px 13px 8px;
}

.button_image_dark img {
    width: 25px;
    height: 23px;
    margin-right: 11px;
}

.button_card_items {
    display: block;
    text-align: center;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px;
    margin: 48px auto 95px;
    background: none;
}

.button_card_items:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .container {
        max-width: 734px;
    }

    .header {
        height: 74px;
        padding: 18px 32px;
    }

    .top_info {
        height: 367px;
    }

    .top_heading div:first-child {
        font-size: 44px;
        line-height: 30px;
        padding-top: 10px;
    }

    .top_heading div:last-child {
        font-size: 24px;
    }

    .top_heading span {
        font-size: 24px;
    }

    .info_block {
        height: 368px;
    }

    .menu_hover,
    .dark_background {
        display: none;
    }

    .catalog {
        padding: 20px 16px;
    }

    .catalog_card {
        margin-bottom: 20px;
    }

    .margin_card {
        margin-right: 20px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 17px;
        column-gap: 16px;
        margin-top: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .button_card_items {
        margin: 32px auto 65px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 343px;
    }

    .header {
        height: 74px;
        padding: 18px 16px;
    }

    .top_heading {
        min-width: 100%;
        justify-content: center;
    }

    .top_info {
        height: 360px;
    }

    .top_heading div:first-child {
        font-size: 38px;
        line-height: 25px;
        padding-top: 10px;
    }

    .top_heading div:last-child {
        font-size: 20px;
    }

    .top_heading span {
        font-size: 20px;
    }

    .model_img {
        display: none;
    }

    .menu_hover,
    .dark_background {
        display: none;
    }

    .link_item {
        display: none;
    }

    .catalog_card {
        flex-direction: column;
        margin-bottom: 0;
    }

    .card {
        position: relative;
    }

    .margin_card {
        margin-right: 0;
    }

    .card_long {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card_image_long {
        height: 111px;
    }

    .card {
        margin-bottom: 30px;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;
        margin-top: 62px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .button_card_items {
        margin: 41px auto 9px;
    }
}
